@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-sidebar-nav {
    @apply bg-white border-r-1 border-gray-200 dark:bg-gray-900 dark:border-gray-700;
}